<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SEFITA</a>
    <div class="collapse navbar-collapse ms-5 mx-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link ms-5" href="#">Records</a>
        <a class="nav-link ms-5 me-5" href="#">About</a>
        <div class="ms-5">
          <a href="/users/logout" class="btn btn-secondary ms-5">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a> -->

<form action="" method="post" class="mt-5">
  <div class="form-group col-4">
    <label for="name">Phone:</label>
    <input class="form-control" type="text" id="name" />
  </div>

  <div class="form-group col-4">
    <label for="name">Ref:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Style:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Date of Order Taken:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Date of Delivery:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Color:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Content/Fabric:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Down-Payment:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Total-Payment:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Check:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Banck Receipt:</label>
    <input class="form-control" type="text" id="name" />
  </div>

  <div class="form-group col-4">
    <label for="name">Shoulder:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Shoulder to waist:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Bust 1, 2, 3:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Waist:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Waist to hip:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Waist to length:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Neck/Opening:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Sleeve length:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Cuff:</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="form-group col-4">
    <label for="name">Hip:</label>
    <input class="form-control" type="text" id="name" />
  </div>

  <div class="col-4">
    <label for="exampleFormControlTextarea1" class="form-label">N.B</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
